* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
}
.section1 {
  background-color: hsl(0, 0%, 98%);
  padding-top: 5%;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.section2 {
  background-color: hsl(220, 16%, 96%);
  padding: 0px 0px 100px 0px;
}
.section3 {
  background-color: hsl(0, 0%, 98%);
  padding: 0px 0px 100px 0px;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 300px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  nav button {
    display: none;
  }
  .nav-list {
    display: none;
  }

  nav .hamburger-btn {
    cursor: pointer;
  }
  .mobile-navbar-view {
    min-height: 100%;
    display: none;
    min-width: 100vw;
    height: 100%;
    padding: 25px;
    background: linear-gradient(
      0deg,
      rgba(18, 20, 32, 0.5),
      rgba(18, 20, 32, 0.5)
    );
    position: absolute;
    top: 59px;
  }
  .mobile-navbar-view .content {
    min-height: 35vh;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-navbar-view .content ul {
    list-style-type: none;
  }
  .mobile-navbar-view .content ul li {
    margin-bottom: 25px;
    text-align: center;
  }
  .mobile-navbar-view .content ul li:last-child {
    margin-bottom: 0px;
  }

  img {
    /* background-color: hsl(220, 16%, 96%); 
    its creating an unnecessary line between itself
    and section2. What to do?*/
    margin-top: 2%;
    width: 100%;
  }
  /***Section1**/
  .section1 .section-img {
    display: none;
  }
  .section1 .section-content {
    padding: 5% 4% 20% 4%;
    text-align: center;
  }
  .section1 .section-content h1 {
    font-size: 30px;
    line-height: 1.2em;
    color: hsl(233, 26%, 24%);
  }
  .section1 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 7%;
  }
  .section1 .section-content button {
    margin-top: 8%;
    font-size: 16px;
  }
  .section1 .section-content .cta {
    border-radius: 50px;
    padding: 15px 35px;
    border: transparent;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
  }
  .pb {
    padding-bottom: 10%;
  }
  .mb {
    margin-bottom: 5%;
  }
  .caps {
    text-transform: capitalize;
  }
  /**Section2**/
  .section2 {
    padding: 20% 4% 20% 4%;
    text-align: center;
  }
  .section2 .section-content h1 {
    font-size: 30px;
    line-height: 1.2em;
    color: hsl(233, 26%, 24%);
    padding-bottom: 0;
  }
  .section2 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 6%;
  }
  .section2 .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20%;
  }
  .options .option1,
  .options .option2,
  .options .option3,
  .options .option4 {
    padding-bottom: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section2 .options h3 {
    color: hsl(233, 26%, 24%);
    text-transform: capitalize;
    padding-top: 10%;
    font-size: 22px;
  }
  .section2 .options p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 6%;
  }
  .section2 .options img {
    width: 60px;
    height: 60px;
    display: flex;
  }
  .options .option1,
  .options .option2,
  .options .option3,
  .options .option4 {
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /**Section3**/
  .section3 {
    padding: 20% 4% 20% 4%;
    text-align: center;
  }
  .section3 .section-content h1 {
    font-size: 30px;
    line-height: 1.2em;
    color: hsl(233, 26%, 24%);
    padding-bottom: 30px;
  }
  .section3 .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 30px 15px;
  }
  .section3 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
  }
  .section3 .options .text-content {
    background-color: hsl(0, 0%, 100%);
    height: auto;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 50px 20px;
    text-align: center;
    display: block;
  }
  .section3 .options .text-content h4 {
    color: hsl(233, 8%, 62%);
    font-size: 19px;
    text-transform: capitalize;
  }
  .section3 .options .text-content h2 {
    color: hsl(233, 26%, 24%);
    font-size: 26px;
    padding-top: 5%;
    text-align: center;
  }
  .section3 .options .text-content p {
    font-size: 16px;
    color: hsl(233, 26%, 24%);
    padding-top: 7%;
    line-height: 1.4em;
  }
  #footer {
    padding: 20% 4% 20% 4%;
    text-align: center;
    background-color: hsl(236, 27%, 29%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #footer .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #footer .first .logo img {
    color: hsl(0, 0%, 100%);
  }
  #footer .first .links {
    padding: 20px 0;
  }
  #footer .first .links a {
    padding: 12px;
  }
  #footer .first .links a img {
    width: 27px;
    height: 27px;
  }
  #footer ul li {
    list-style: none;
    padding-top: 20px;
    text-align: center;
  }
  #footer ul li a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
  #footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #footer .copyright button {
    margin-top: 10%;
    font-size: 16px;
  }
  #footer .copyright .cta {
    border-radius: 50px;
    padding: 15px 35px;
    border: transparent;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
  }
  #footer p {
    color: hsl(233, 8%, 62%);
    padding-top: 10%;
  }
}
@media only screen and (min-width: 576px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav button {
    display: none;
  }
  .section2 {
    padding: 20% 4% 20% 4%;
    text-align: center;
  }
  .section2 .section-content h1 {
    font-size: 30px;
    line-height: 1.2em;
    color: hsl(233, 26%, 24%);
    padding-bottom: 0;
  }
  .section2 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 6%;
  }
  .section2 .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 10%;
  }
  .section2 .options h3 {
    color: hsl(233, 26%, 24%);
    text-transform: capitalize;
    padding-top: 10%;
    font-size: 22px;
  }
  .section2 .options p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 6%;
  }
  .section2 .options img {
    width: 60px;
    height: 60px;
    display: flex;
  }
  .options .option1,
  .options .option2,
  .options .option3,
  .options .option4 {
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
  }
  nav .nav-list {
    display: block;
  }
  nav .nav-list li {
    display: inline-block;
    padding-left: 20px;
  }
  nav .nav-list li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    color: hsl(233, 8%, 62%);
  }
  nav .hamburger-btn,
  nav button {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
    padding-bottom: none;
  }
  .section1 .section-content {
    padding: 0px 5px 40px 5px;
    text-align: center;
  }
  .section1 .section-content h1 {
    font-size: 35px;
    line-height: 1.5em;
    color: hsl(233, 26%, 24%);
  }
  .section1 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 4%;
  }
  .section1 .section-content button {
    margin-top: 5%;
    font-size: 16px;
  }
  .section2 {
    padding: 10% 5% 10% 5%;
    text-align: center;
  }
  .section2 .section-content,
  .section3 .section-content {
    text-align: justify;
    margin-left: 60px;
  }
}
.section2 .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}
.options .option1,
.options .option2,
.options .option3,
.options .option4 {
  padding-bottom: 0;
  /* margin-left: 35px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 {
  padding: 10% 5% 10% 5%;
  text-align: center;
}
.section3 .options .text-content {
  background-color: hsl(0, 0%, 100%);
  height: auto;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 50px 30px;
  text-align: justify;
  display: block;
}
.section3 .options .text-content h2 {
  color: hsl(233, 26%, 24%);
  font-size: 26px;
  padding-top: 3%;
  text-align: justify;
}
.section3 .options .text-content p {
  font-size: 18px;
  color: hsl(233, 26%, 24%);
  padding-top: 3%;
  line-height: 1.5em;
}
#footer {
  padding: 10% 5% 10% 5%;
  text-align: center;
  background-color: hsl(236, 27%, 29%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#footer .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#footer .first .links a img {
  width: 30px;
  height: 30px;
}
#footer ul li {
  list-style: none;
  padding-top: 25px;
  text-align: center;
}
#footer ul li a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#footer .copyright button {
  margin-top: 15%;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  nav {
    background-color: hsl(220, 16%, 96%);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
  }
  button {
    display: block;
  }
  nav .nav-list li {
    display: inline-block;
    padding-left: 20px;
  }
  nav .nav-list li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    color: hsl(233, 8%, 62%);
  }
  .none {
    display: none;
  }
  .section1 {
    padding: 5% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section1 .section-img {
    display: block;
  }
  .section1 .section-content {
    text-align: justify;
    padding-bottom: 0;
  }
  .section1 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    line-height: 1.5em;
    padding-top: 4%;
  }
  nav button {
    font-size: 15px;
  }
  nav .cta {
    border-radius: 50px;
    padding: 15px 35px;
    border: transparent;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
  }
  .section2 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 4%;
    font-size: 18px;
  }
  .section2 .options p {
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    line-height: 1.5em;
    padding-top: 6%;
  }
  .section2 .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 8%;
  }
  .section3 {
    padding: 10% 5% 10% 5%;
    text-align: center;
  }
  .section3 .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
  }
  .section3 .options .text-content {
    background-color: hsl(0, 0%, 100%);
    height: 75%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px 10px;
    text-align: justify;
    display: block;
  }
  .section3 .options .text-content h4 {
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    text-transform: capitalize;
  }
  .section3 .options .text-content h2 {
    color: hsl(233, 26%, 24%);
    font-size: 23px;
    padding-top: 8%;
    text-align: justify;
  }
  .section3 .options .text-content p {
    font-size: 16px;
    color: hsl(233, 26%, 24%);
    padding-top: 10%;
    line-height: 1.5em;
  }
  #footer {
    padding: 10% 5% 10% 5%;
    text-align: center;
    background-color: hsl(236, 27%, 29%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footer .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  #footer .first .logo img {
    width: 200px;
    height: auto;
  }
  #footer .first .links a img {
    width: 25px;
    height: 25px;
  }
  #footer .second ul,
  #footer .third ul {
    margin-left: 30px;
  }
  #footer ul li a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
  #footer .copyright {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  nav {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
  }
  nav .nav-list {
    margin-top: 10px;
    display: block;
  }
  .show {
    display: block;
  }
  .none {
    display: none;
  }
  .section1 {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    height: 100vh;
  }
  .section1 .section-content {
    padding: 5em 0 0 3em;
  }
  .section1 .section-content p {
    width: 85%;
  }
  .section1 .only {
    display: block;
    position: relative;
    z-index: 2;
    right: -50px;
    bottom: 575px;
  }
  .section-img {
    position: relative;
  }
  .section-img img {
    display: block;
  }
  /* .relFirst {
    position: relative;
    bottom: 50px;
    left: 50px;
  } */

  /**Section2**/
  .section2 .section-content h1 {
    font-size: 40px;
    line-height: 1.2em;
    color: hsl(233, 26%, 24%);
    padding-bottom: 0;
  }
  .section2 .section-content p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 3%;
    font-size: 18px;
  }
  .section2 .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    text-align: justify;
  }
  .section2 .options p {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 6%;
  }
  .options .option1,
  .options .option2,
  .options .option3,
  .options .option4 {
    padding-bottom: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .section2 .options img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }
  .section3 img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
  }
  .section3 .options .text-content {
    background-color: hsl(0, 0%, 100%);
    height: 75%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 50px 15px;
    text-align: justify;
    display: block;
  }
  .section3 .options .text-content h4 {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    text-transform: capitalize;
  }
  .section3 .options .text-content h2 {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 21px;
    padding-top: 7%;
    text-align: justify;
  }
  .section3 .options .text-content p {
    font-size: 15px;
    color: hsl(233, 26%, 24%);
    padding-top: 9%;
    line-height: 1.4em;
  }
  #footer {
    padding: 5% 3% 5% 3%;
    text-align: center;
    background-color: hsl(236, 27%, 29%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footer .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  #footer .first .links {
    padding: 20px 0;
  }
  #footer .first .logo img {
    width: 200px;
    height: auto;
  }
  #footer .first .links a img {
    width: 25px;
    height: 25px;
  }
  #footer ul li a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
  #footer .copyright {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
